
:root{
    /* const */
    --def-boxShadow : 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    --def-borderRadius : 10px;
    /* colors */
        /* Rocks and Barefoot By Color Pallette */
        --c1-bg : rgba(237, 231, 220, 1);
        --c1-c : black;
        --c1-1 : rgba(220, 210, 204, 1);
        --c1-2 : rgba(204, 175, 165, 1);
        --c1-3 : rgba(189, 195, 203, 1);
}
body{
    background-color: var(--c1-bg);
    color : var(--c1-c);
    padding: 20px;
}

.flex__container{
    display: flex;    flex-direction: column;   align-items: center;
}
.flex__container .col{flex-direction: column;}
.flex__container > .row{flex-direction: row;}
.flex__container > .row > header{
    background-color: var(--c1-2); padding: 20px;
    border-bottom-left-radius: var(--def-borderRadius); border-top-left-radius: var(--def-borderRadius);
}
.flex__container > .row > div{
    padding: 20px; border-radius: var(--def-borderRadius);
}

/* card types */
.card__normal{
    box-shadow: var(--def-boxShadow);   border-radius: var(--def-borderRadius);
}

/* make scroll x */
.scroll-box-x{
    overflow-x: auto;
    white-space: nowrap;
}
.scroll-box-x::-webkit-scrollbar{
    background-color: var(--c1-bg);
    border-radius: var(--def-borderRadius);
}
.scroll-box-x::-webkit-scrollbar-thumb{
    background-color: var(--c1-2);
    border-radius: var(--def-borderRadius);
    box-shadow:  var(--def-boxShadow);
}